#grid {
    position: absolute;
    top: 700px;
    border: 1px solid white;
}

#pique {
    position: absolute;
    top: 700px;
    border: 0px;
}

#player {
    position: relative;
    border: 1px solid white;
    background-color: red;
    height: 48px;
    width: 48px;
}

html {
    background: linear-gradient(blue,darkBlue);
    background-repeat: no-repeat;
    height: 919px;
    width: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

#rejouer {
    visibility: hidden;
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    font-family: 'MASQUE';
}

