html {
  text-align: center;
  content-align: center;
}
.q {
  width: fit-content;
  text-align: center;
}
#question {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: solid black 1%;
  background-color: #C2C2C2; /*gris clair*/
}
#choix {
  display: flex;
  width: 100%;
}
.ok {
  width: 35%;
  border: solid black 1px;
  background-color: #CBFFC9 /*vert clair*/
}
.or {
  width: 30%;
  border: solid black 1px;
  background-color: #858585; /*gris plutot foncé*/
}
.not {
  width: 35%;
  border: solid black 1px;
  background-color: #FFABAB; /*rouge clair*/
}
.ok #neutre, .not #neutre {
  background-color: #A6A6A6; /*gris plus foncé que la question, mais moins que la case "or"*/
}
  
